<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <section class="flex flex-col md:flex-row justify-center items-center gap-6 p-6">
    <div class="flex flex-col">
      <label class="text-gray-700 font-semibold">Fecha de llegada</label>
      <input 
        type="date" 
        formControlName="arrivalDate"  
        [min]="minDate" 
        (change)="onArrivalDateChange($event)"
        required
        class="border border-gray-300 p-2 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>

    <div class="flex flex-col">
      <label class="text-gray-700 font-semibold">Fecha de salida</label>
      <input 
        type="date" 
        formControlName="departureDate" 
        [min]="minDateDeparture" 
        required
        class="border border-gray-300 p-2 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>
  </section>
  <div class="flex flex-col items-center w-full">
    <label for="roomType" class="text-center mb-2">Seleccione tipo de habitación</label>
    <div class="flex flex-col md:flex-row justify-center items-center gap-4 p-6">
      <select id="roomType" formControlName="roomType"
        class="border border-gray-300 p-2 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
        <option value="">--Habitaciones--</option>
        @for (item of dataSelectRoomType(); track item.roomTypeID) {
        <option [value]="item.roomTypeID">{{ item.roomTypeName }}</option>
        }
      </select>

      <button type="submit" (click)="onSubmit()"
        class="bg-gray-900 text-white px-6 py-2 rounded-2xl shadow-md hover:bg-gray-700 transition-all duration-300">
        Aceptar
      </button>
    </div>
  </div>
</form>
<app-recommendation-modal [isOpen]="isModalOpen()" title="Recomendación" [showConfirmButton]="true"
  [showCancelButton]="false" confirmButtonText="Aceptar" (closeModal)="closeModal()">
  <p class="text-gray-700 dark:text-gray-300">
    {{ message }}
  </p>
</app-recommendation-modal>