<h1 class=>Sección para editar</h1>

<select name="" id="" (change)="onSelectChange($event)" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
  <option value="default">---Elige una opción---</option>
  <option value="Home">Home</option>
  <option value="Facilities">Facilidades</option>
  <option value="AboutUs">Sobre Nosotros</option>
  <option value="ContactUs">Contáctenos</option>
</select>

@if (typeMessage === 'success') {
  <modal-confimation  
    [isOpen]="isModalOpen()" 
    title="Aviso" 
    [showConfirmButton]="true" 
    [showCancelButton]="false"
    confirmButtonText="Aceptar" 
    (closeModal)="closeModal()"
  >
    <p class="text-gray-700 dark:text-gray-300">
      {{ message }}
    </p>
  </modal-confimation>
} @else if (typeMessage === 'error') {
  <modal-confimation  
    [isOpen]="isModalOpen()" 
    title="Aviso" 
    [showConfirmButton]="true" 
    [showCancelButton]="false"
    confirmButtonText="Aceptar" 
    (closeModal)="closeModal()"
    (confirm)="onModalConfirm()"
  >
    <p class="text-gray-700 dark:text-gray-300">
      {{ message }}
    </p>
  </modal-confimation>
}@else{
  @if(selectedOption() === 'Facilities') {
      <facilities-edit [dataPage]="dataPage()" (modalRequest)="onModalRequestFromChild($event)"></facilities-edit>
  } 
  @if(selectedOption() === "Home") {
      <app-home-editor [dataPage]="dataHomePage()" (modalRequest)="onModalRequestFromChild($event)"></app-home-editor>
  }
  @if(selectedOption()=== 'AboutUs'){
    <app-aboutus-edit [dataPageAbout]="dataPageAbout()" (modalRequest)="onModalRequestFromChild($event)"></app-aboutus-edit>
  }
  @if(selectedOption() === 'ContactUs') {
    <div>
      @if(dataPageContact() !== null) {
        <app-contactus-edit
          [contactData]="dataPageContact()!"
          (modalRequest)="onModalRequestFromChild($event)">
        </app-contactus-edit>
      } 
    </div>
  } 
}
