<!-- Galería de imágenes -->
<div class="mt-8">
  <h3 class="text-lg font-semibold mb-4">Galería</h3>

  <div class="flex flex-col lg:flex-row gap-6">


    <div class="w-full lg:w-2/5 mb-4 lg:mb-0">
      <img [src]="selectedImage()" alt="Imagen seleccionada" class="w-full rounded-lg shadow-lg">
    </div>

    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-1 w-full lg:w-3/5">
      <ng-container *ngFor="let img of limitedImages(); let i = index">
        <img
          [src]="img"
          alt="Miniatura"
          class="w-full h-20 object-cover rounded-lg shadow-md cursor-pointer border-2 transition-all p-0 m-0"
          [ngClass]="img === selectedImage() ? 'border-blue-500 scale-105' : 'border-gray-300 hover:border-blue-400'"
          (click)="setSelectedImage(img)">
      </ng-container>
    </div>
  </div>
</div>